html {
  position: absolute;
}

body {
  font-family: arial, sans-serif;
  font-size: 13px;
}

div.main-area {
  margin: 123px 0 0;
  margin-left: 150px;
  width: 632px;
}

div.main-area .info {
  padding: 0 16px;
  line-height: 43px;
  color: rgb(128, 128, 128);
  margin-bottom: 9px;
}

div.main-area .featured-snippet {
  position: relative;
  color: rgb(34, 34, 34);
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),
  0 0 0 1px rgba(0,0,0,0.08);
  padding: 16px;
  line-height: 1.2;
  font-size: 16px;
  margin-bottom: 29px;
}

div.main-area .featured-snippet h1 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}

div.main-area .featured-snippet ol {
  list-style-type: decimal;
  padding: 0 20px;
}

div.main-area .featured-snippet li {
  margin-bottom: 4px;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

a.more-items {
  color: rgb(119, 119, 119);
  font-size: 14px;
  padding: 7px 20px;
  display: inline-block;
}

p.results a {
  color: rgb(26, 13, 171);
  font-size: 18px;
  display: inline-block;
  line-height: 21px;
}

.featured-snippet p {
  margin-top: 15px;
}

span.site {
  font-size: 14px;
  line-height: 16px;
  color: rgb(0, 102, 33);
  display: block;
  padding-bottom: 2px;
}

.featured-snippet span.site {
  padding-top: -8px;
}

p {
  line-height: 1;
  color: rgb(84, 84, 84);
}

div.results {
  padding: 16px 0 16px 16px;
}

span.date {
  color: rgb(128, 128, 128);
}

div.results p {
  line-height: 1.4;
  margin-bottom: 26px;
}

strong {
  font-weight: bold;
}

div.related {
  padding-left: 16px;
}

div.related h2 {
  color: rgb(34, 34, 34);
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 8px;
  margin-bottom: 11px;
}

div.related a {
  color: rgb(26, 13, 171);
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  display: block;
  padding: 3px 32px 3px 0;
}

div.related div.left {
  float: left;
}

div.pages .g {
  display: inline-block;
  height: 40px;
  width: 28px;
  float: left;
  background: url(../images/nav-logo.png) no-repeat;
  background-position: -24px 0;
}

div.pages-container div.pages a, div.pages .one {
  display: inline-block;
  text-align: center;
  line-height: 16px;
  /* float: left; */
}

div.pages-container div.pages a div, div.pages .one div {
  display: block;
  /* border: 1px dotted black; */
  height: 40px;
  width: 20px;
  background: url(../images/nav-logo.png) no-repeat;
  background-position: -74px 0;
}

div.pages .one div {
  background-position: -53px 0;
}

div.pages-container div.pages a.last div {
  width: 71px;
  background-position: -96px 0;
}

div.one {
  display: inline-block;
}

/* div.pages {
  width: max-content;
  position: relative;
  max-height: 100px;
  overflow: hidden;
  white-space: nowrap;
} */

div.pages-container div.pages a.last {
  text-align: right;
}

div.pages-container {
  text-align: center;
}

div.pages {
  display: inline-block;
  margin: 30px auto 30px;
  white-space: nowrap;
  font-size: 0px;
  color: rgba(0,0,0,0.87);
}

div.pages * {
  font-size: 13px;
}


/* TOP NAVIGATION */
div.top {
  position: absolute;
  background-color: rgb(250, 250, 250);
  top: 0;
  box-sizing: border-box;
  width: 100%;
  min-width: 1100px;
  border-bottom: 1px solid rgb(235, 235, 235);
}

div.top div {
  display: inline-block;
  vertical-align: top;
  box-sizing: inherit;
}

div.top .logo img {
  width: 120px;
  height: 44px;
}
div.top div.logo {
  float: left;
  padding: 4px 10px 0 13px;
  margin-top: 18px;
}

div.top div.search {
  height: 44px;
  width: 632px;
  margin-top: 20px;
  margin-left: 7px;
  position: relative;
}


div.top div.search input {
  box-sizing: border-box;
  position: absolute;
  right:0;
  height: 100%;
  width: 632px;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  transition: 200ms;
  padding: 0;
  padding-left: 16px;
  font-size: 16px;
  font-family: arial, sans-serif;
}

div.top div.search input:hover, div.top div.search input:focus {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

div.search button {
  display: inline-block;
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 0;
  vertical-align: top;
  height: 44px;
  padding: 1px 16px 0 8px;
  margin: 0;
}

div.search span {
  display: inline-block;
  height: 24px;
  width: 24px;
  fill: rgb(66, 133, 244);
}

div.top div.right {
  float: right;
  margin-top: 28px;
  margin-right: 25px;
}

div.top div.right a{
  float: right;
}

div.top div.right .sign-in {
  margin: 0 5px 0 0;
  cursor: default;
  background-color: #4285f4;
  background: -moz-linear-gradient(top,#4387fd,#4683ea);
  background: linear-gradient(top,#4387fd,#4683ea);
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
  color: white;
  border: 1px solid rgb(66, 133, 244);
  border-radius: 2px;
  padding: 8px 12px 7px;
  vertical-align: middle;
  font-weight: bold;
}

div.top div.right .sign-in:hover, div.top div.right .sign-in:focus {
  text-decoration: none;
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
}

div.top div.right .google-apps {
  height: 30px;
  width: 30px;
  background-image: url(../images/symbols.png);
  background-size: 528px 68px;
  background-position: -132px -38px;
  margin: 0 15px 0 0;
  opacity: .55;
}

div.top div.right .google-apps:hover, div.top div.right a.google-apps:focus {
    opacity: .85;
}


div.top div.tabs {
  width: 782px;
  margin-left: 0;
  vertical-align: bottom;
  float: left;
  clear: both;
}

div.top div.tabs a {
  display: inline-block;
  padding: 25px 16px 13px 9px;
  margin-right: 7px;
  color: rgb(119, 119, 119);
  float: left;
}

div.top div.left-tabs {
  float: left;
}
div.top div.right-tabs {
  float: right;
}

div.top div.tabs a.first {
  margin-left: 150px;
  padding: 25px 16px 13px;
  border-bottom: 3px solid RGB(26, 115, 232);
  font-weight: bold;
  color: RGB(26, 115, 232);
}

div.top div.right-tabs {
  margin-right: -7px;
}
div.top div.right-tabs a {
  padding-left: 8px;
}

div.top div.tabs a.first:hover {
  text-decoration: none;
}

div.top div.tabs a:hover, div.top div.tabs a:focus {
  color: rgb(34, 34, 34);
  text-decoration: none;
}

div.top div.tabs a.tools {
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 7px 15px;
  margin: 17px 7px 0 -8px;
}

div.top div.tabs a.tools:hover, div.top div.tabs a.tools:focus {
  color: rgb(119, 119, 119);
  background-color: rgb(248, 248, 248);
  background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  border: 1px solid rgb(198, 198, 198);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}


div.footer {
  background-color: rgb(242, 242, 242);
  width: 100%;
  min-width: 1100px;
  position: absolute;
  bottom: 0;
}

div.footer .location, div.footer .links {
  border-top: 1px solid rgb(228, 228, 228);
  /* height: 40px; */
  width: 100%;
}

div.footer .location .country {
  font-size: 15px;
  color: rgba(0,0,0,0.54);
  margin-left: 166px;
  /* padding-top: 12px; */
  display: inline-block;
  line-height: 40px;
}

div.footer .location .exact {
  display: inline-block;
  margin-left: 13px;
  padding-left: 16px;
  border-left: 1px solid rgb(228,228,228);
  color: rgb(170,170,170);
}

div.footer .location .exact span {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin: 6px 4px 9px 0;
  background-color: rgb(158, 158, 158);
  vertical-align: middle;
}

div.footer a {
  color: rgb(119, 119, 119);
}
div.footer a:hover {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

div.footer .links {
  box-sizing: border-box;
  padding-left: 166px;
  /* padding-top: 14px; */
  display: inline-block;
}

div.footer .links a {
  display: inline-block;
  padding-right: 27px;
  float: left;
  line-height: 35px;
  padding-top: 3px;
}

div.pages-container {
  margin-bottom: 82px;
}

div.pages-container .pages .last {
  width: 80px;
}

div.related {
  margin: -1px 0 1px;
}

div.pages a {
  color: rgb(66, 133, 244);
}

div.results p.results {
  max-width: 600px;
}

div.snippet-footer a {
  display: inline-block;
  float: right;
  color: rgb(119, 119, 119);
  fill: rgb(158, 158, 158);
  padding-right: 16px;
  font-size: 12px;
}
div.snippet-footer a.question-m {
  height: 16px; width: 16px;
  padding-right: 8px;
  margin-top: -1px;
}
div.snippet-footer a.flag {
  height: 14px; width: 14px;
  padding-right: 8px;
  padding-left: 6px;
  margin-top: -1px;
}

div.main-area div.featured-snippet {
  margin-bottom: 0;
  /* padding-bottom: 0; */
}

div.snippet-footer {
  padding-top: 5px;
  margin-bottom: 24px;
}

div.top div.search:hover input{
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.results .results .site {
  position: relative;
  padding-bottom: 0;
  padding-top: 1px;
  margin-bottom: -1px;
}

.results .results .site::after {
  content: "  ";
  position: relative;
  display: inline-block;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: transparent;
  border-top-color: rgb(0, 89, 30);
  width: 0px;
  height: 0px;
  margin-bottom: 3px;
  margin-left: 6px;
}

div.results p.results {
  line-height: 1.5;
  margin-bottom: 25px;
}

html {
  width: 100%;
}
